/*
 * ─── GLOBAL ─────────────────────────────────────────────────────────────────────
 */
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
}
html {
  font-family: "Karla", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #212121;
}
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #212121;
}
p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.6;
  color: #616161;
}
a {
  color: #536dfe;
  letter-spacing: -0.5px;
  text-decoration: none;
}
a:hover {
  color: #8c9eff;
}
.wrapper-page {
  width: 65%;
  margin: 0 auto;
}
#blue {
    color: #536dfe;
}

#intro-sub-text {
    font-weight: 600;
}
/*
 * ─── NAV ────────────────────────────────────────────────────────────────────────
 */
.logo {
  float: left;
}

.links {
  float: right;
}

/* Top Nav Bar */

#nav-container {
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
}

.nav-bar {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  clear: both;
}

.nav-bar img {
  margin-top: 40px;
  height: 40px;
  width: auto;
}

.nav-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.nav-bar li {
  list-style-type: none;
  padding: 0px;
  display: inline;
}

.nav-bar li a {
  font-family: "Josefin Sans", sans-serif;
  color: #536dfe;
  font-size: 16px;
  text-decoration: none;
  line-height: 125px;
  margin-left: 30px;
}
.nav-bar li a:hover {
  color: #8c9eff;
}
/*
 * ─── INTRO SECTION ──────────────────────────────────────────────────────────────
 */
.intro {
  margin: 200px 0 200px 0;
}
.intro h6 {
  margin-bottom: 40px;
}
.intro h1 {
  max-width: 600px;
}
.intro p {
  margin-top: 40px;
  max-width: 600px;
}
/*
 * ─── PROJECT SECTION ────────────────────────────────────────────────────────────
 */
.container-projects {
  padding-top: 75px;
}
.project,
.project * {
  box-sizing: border-box;
}
.nogap {
  font-size: 0;
}
.project {
  margin-top: 0px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.project video {
  max-width: 100%;
  display: block;
}
.project img {
  max-width: 100%;
}
.project .project-layer_bottom {
  display: block;
}
.project .project-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #536dfe;
  color: #ffffff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.project:hover .project-layer_top,
.project.active .project-layer_top {
  opacity: 1;
}
#year {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 2.5px;
  vertical-align: 10px;
}
.project .project-text {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -0.5px;
  width: 100%;
  text-align: left;
  font-size: 52px;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  padding-left: 150px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.project .project-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.project.active .project-text_mobile {
  display: block;
}
/*
 * ─── CONTACT SECTION ────────────────────────────────────────────────────────────
 */
.contact {
  margin: 150px 0 200px 0;
}
.contact h1 {
  max-width: 600px;
}
.contact p {
  margin-top: 25px;
  max-width: 600px;
}
/*
 * ─── PROJECT INFO ───────────────────────────────────────────────────────────────
 */
.intro p {
  display: inline-block;
  vertical-align: top;
}
#text-right {
  text-align: right;
  float: right;
}
.container-info {
  padding-top: 100px;
}
.container-info video {
  width: 100%;
  height: auto;
}
.container-info img {
  width: 100%;
  height: auto;
  margin-top: 25px;
}
/*
 * ─── GALLERY ────────────────────────────────────────────────────────────────────
 */
.container-gallery {
  padding-top: 100px;
  font-size: 0;
  max-width: 100%;
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
}
/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
.footer {
  clear: both;
}
.socials {
  float: left;
}

.copyright {
  float: right;
  letter-spacing: -0.5px;
}

/* Bottom Nav Bar */

#footer-container {
  margin: 0 auto;
  height: 50px;
  overflow: hidden;
}

.footer {
  height: 50px;
  width: 100%;
}

.footer p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.footer ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.footer li {
  list-style-type: none;
  padding: 0px;
  display: inline;
}

.footer li a {
  font-family: "Josefin Sans", sans-serif;
  color: #536dfe;
  font-size: 16px;
  text-decoration: none;
  margin-right: 30px;
}
.footer li a:hover {
  color: #8c9eff;
}
/*
 * ─── BACK TO TOP BUTTON ─────────────────────────────────────────────────────────
 */
#scroll {
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #536dfe;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
/*
 * ─── RESPONSIVE ─────────────────────────────────────────────────────────────────
 */
@media screen and (max-width: 1300px) {
  .wrapper-page {
    width: 90%;
    margin: 0 auto;
  }
  .intro {
    margin-top: 150px;
  }
  .project .project-layer_top {
    background: rgba(83, 109, 254, 0.9);
    color: #ffffff;
  }
  .project .project-layer_top {
    opacity: 1;
  }
  .project .project-text {
    font-size: 35px;
    padding-left: 100px;
    line-height: 40px;
  }
  #footer-container {
    height: 100px;
  }

  .footer {
    height: 100px;
  }
}
@media screen and (max-width: 976px) {
  #text-right {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 960px) {
  #text-left {
    display: block;
  }
  #text-right {
    text-align: left;
    float: left;
  }
}
@media screen and (max-width: 800px) {
  .wrapper-page {
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
  }

  .intro {
    margin: 100px 0 50px 0;
  }

  .intro p {
    padding-right: 20px;
    margin-top: 30px;
  }

  #text-right {
    text-align: left;
    float: left;
  }
  .container-projects {
    padding-top: 20px;
  }

  .project {
    margin-top: 0;
    max-width: auto;
    height: 300px;
  }

  .project video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project .project-text {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 20px;
  }

  #year {
    display: block;
    line-height: 1.6;
    margin-left: 1px;
    font-size: 12px;
  }

  .project .project-layer_top {
    background: rgba(83, 109, 254, 0.9);
    color: #ffffff;
  }

  .project .project-layer_top {
    opacity: 1;
  }
  .contact {
    margin: 80px 0 130px 0;
  }

  .contact p {
    margin-top: 30px;
  }

  .footer {
    height: 50px;
    width: 300px;
  }

  .copyright {
    margin-top: 10px;
    float: left;
    letter-spacing: -0.5px;
  }

  /* Bottom Nav Bar */

  #footer-container {
    height: 130px;
  }

  .footer {
    height: 130px;
  }

  .footer li a {
    margin-right: 10px;
  }
  .container-info img {
    margin-top: 10px;
  }
  .gallery {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .gallery img {
    margin-bottom: 0;
  }
  .container-gallery {
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper-page {
    width: 85%;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
  }

  #nav-container {
    height: 120px;
  }

  .nav-bar {
    height: 120px;
  }

  .nav-bar ul {
    line-height: 1.6;
    margin-top: 32px;
    display: block;
  }

  .nav-bar li {
    display: block;
    text-align: right;
  }

  .nav-bar li a {
    line-height: 0;
  }

  .intro {
    margin: 30px 0 50px 0;
  }

  .intro p {
    margin-top: 30px;
  }

  #text-right {
    text-align: left;
    float: left;
  }
  .container-projects {
    padding-top: 20px;
  }

  .project {
    margin-top: 0;
    max-width: auto;
    height: 300px;
  }

  .project video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project .project-text {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 20px;
  }

  #year {
    display: block;
    line-height: 1.6;
    margin-left: 1px;
    font-size: 12px;
  }

  .project .project-layer_top {
    background: rgba(83, 109, 254, 0.9);
    color: #ffffff;
  }

  .project .project-layer_top {
    opacity: 1;
  }

  .contact {
    margin: 80px 0 130px 0;
  }

  .contact p {
    margin-top: 30px;
  }

  .copyright {
    margin-top: 10px;
    float: left;
    letter-spacing: -0.5px;
  }

  /* Bottom Nav Bar */

  #footer-container {
    height: 130px;
  }

  .footer {
    height: 130px;
  }

  .footer li a {
    margin-right: 10px;
  }
  .container-info img {
    margin-top: 10px;
  }
  .container-gallery {
    padding-top: 30px;
  }
}
